@import "tailwindcss";



@theme inline {
  --font-sans: var(--font-inter);
}

@utility bg-grid {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
}

@utility shadow-gradient {
  box-shadow:
    -1px 0 10px rgba(0, 211, 243, 0.6),
    1px 0 10px rgba(194, 122, 255, 0.6);
}


@keyframes grid-flow {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 50px;
  }
}

@keyframes logo-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll 30s linear infinite;
  will-change: transform;
}

.animate-logo-scroll:hover {
  animation-play-state: paused;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


