@import "tailwindcss";



@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility bg-grid {
  background-image:
    linear-gradient(to right, rgba(138, 66, 245, 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(138, 66, 245, 0.08) 1px, transparent 1px);
  background-size: 80px 80px;
}

@utility shadow-gradient {
  box-shadow:
    -1px 0 10px rgba(0, 211, 243, 0.6),
     1px 0 10px rgba(194, 122, 255, 0.6);
}


@keyframes grid-flow {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 60px;
  }
}


body {
  font-family: Arial, Helvetica, sans-serif;
}