@import "tailwindcss";



@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility bg-grid {
  background-image:
    linear-gradient(to right, rgba(138, 66, 245, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(138, 66, 245, 0.1) 1px, transparent 1px);
  background-size: 60px 60px;
  animation: grid-flow 1s linear infinite;
}

@utility shadow-gradient {
  /* @apply shadow-[-2px_0_10px_2px_#00D3F399] shadow-[2px_0_10px_2px_#C27AFF99]; */
  box-shadow: -1px 0 10px 0px #00D3F3, 1px 0 10px 0px #C27AFF;
}

@keyframes grid-flow {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 60px;
  }
}


body {
  font-family: Arial, Helvetica, sans-serif;
}